@using MyFirstWebApp.ViewModels.Home
@{
    ViewData["Title"] = "Home Page";

    var FullNameViewModel = new FullNamePartialViewModel("Boyan", "Kolev");
}

<partial name="_FullNamePartial", model="FullNameViewModel" />

<div>
    @for (int i = 0; i < 20; i++)
    {
        int year = DateTime.UtcNow.Year;
        <span>year:</span>@(year + i + 10000)
    }
</div>

<h1 year-of-birthdate="1996"></h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@section NewForm {
    <form>
        <label id="name">Name</label>
        <input type="text" id="name" />
    </form>
}
