.rectangle1{
    border: dotted 3px blue;
    border-radius: 10px;
    padding: 10px;
}
.rectangle2{
    border: dashed 3px red;
    border-radius: 10px;
    padding: 10px;
}

.rectangle3{
    border: solid 3px green;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-size: 45px;
}